    {% extends 'store/main.html' %}
    {% load static %}
    {% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
        <title>Document</title>
    </head>
    <body>
        {% include 'store/navbar.html' %}

        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Continue shopping</a>
                    <br>
                    <hr>
                    <table class="table">
                        <tr>
                            <th><h5>items</h5><strong>{{order.get_cart_items}}</strong></th>
                            <th><h5>Totals</h5><strong>{{order.get_cart_total|floatformat:2}}$</strong></th>
                            <th>
                                <a style="float: right;margin: 5px;" class="btn btn-outline-success" href="{% url 'checkout' %}">checkout</a>
                            </th>
                        </tr>

                    </table>
                </div>
                <br>
                <div class="box-cart">
                    {% if cartItems == 0 %}
                    <div class="chardiv">
                        <img src="{% static 'images/runtostore_cart.png' %}" alt="" class="cartchar">
                    </div>
                    {% else %}
                    <div class="cart-row">
                        <div style="flex: 2;"></div>
                        <div style="flex: 2;"><strong>Item</strong></div>
                        <div style="flex: 1;"><strong>Price</strong></div>
                        <div style="flex: 1;"><strong>Quantity</strong></div>
                        <div style="flex: 1;"><strong>Total</strong></div>
                        <div style="flex: 1;"><strong></strong></div>
                    </div>

                    {% for item in items %}
                    
                        <div class="cart-row">
                            <a style="flex: 2;" href="{% url 'product' item.product.id %}"><img class="row-image" src="{{item.product.imageURL}}" alt=""></a>
                            <div style="flex: 2;"><p>{{item.product.name}}</p></div>
                            <div style="flex: 1;"><P>{{item.product.price|floatformat:2}}$</P></div>
                            <div style="flex: 1;">
                                <p class="quantity">{{item.quantity}}</p>
                                <div class="quantity">
                                    <img data-product={{item.product.id}} data-action="add" class="chg-quantity updatecart" src="{% static 'images/arrowup.png' %}" alt="">
                                    <img data-product={{item.product.id}} data-action="remove" class="chg-quantity updatecart" src="{% static 'images/arrowdown.png' %}" alt="">
                                </div>
                            </div>
                            <div style="flex: 1;"><p>{{item.get_total|floatformat:2}}$</p></div>
                            <button style="flex: 1;" data-product={{item.product.id}} data-action="delete" class="btn-delete updatecart"><img src="{% static 'images/trash.png' %}" alt="" width="30px"></button>
                        </div>
                    
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        
    </body>
    </html>
    <style>
        .cartchar{
            width: 50%;
        }
        .chardiv{
            text-align: center;
        }
    </style>
        
    {% endblock content %}