{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="store-container">

    <!-- <div class="row"> -->
        {% for product in products %}
        
            <div class="col">
                <a  href="{% url 'product' product.id %}">
                    <div class="thumbnail">
                        <img class="img-product" src="{{product.imageURL}}" alt="">
                        <a href=""><img src="{% static 'images/heart-solid.svg' %}" alt="" width="20px"></a>
                    </div>
                    <div class="box-store product">
                        <h4 style="float: right; color:red;">{{product.price|floatformat:2}}$</h4>
                        <h6 style="font-size: large;"><strong>{{product.name}}</strong></h6>
                        <hr>
                        <span>description description
                            description description 
                            description description </span>
                        <button data-product={{product.id}} data-action="add" class="updatecart cart">Add to cart</button>
                    
                    </div>
                </a>
            </div>
        
        {% endfor %}
    <!-- </div> -->
</div>

{% endblock content %}

